@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-size: 24px;
    line-height: 30px;
    background-image: linear-gradient(to right top, #ff00bb 50%, black 50%);
    background-size: 100% calc(100% - 100vh + 5px);
    background-repeat: no-repeat;
    z-index: 1;
    color: white;
    gap: 1em;
}

body::after {
    content: "";
    position: fixed;
    top: 5px;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    z-index: -1;
}

header {
    display: flex;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 0.8em;
}