@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", 'sans-serif'; 
    gap: 2em;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
    height: 10px;
    transition: background-color 0.5s ease;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 2em 2em 2em;
}